<form [formGroup]="form" (submit)="logForm()">
  <app-custom-select [selected]="bvSubject.value[3]" [data]="bvSubject | async" [formControlName]="'select'">
  </app-custom-select>
  <app-custom-select [disabled]="true" [selected]="bvSubject.value[1]" [data]="bvSubject | async"
                     [formControlName]="'select2'">
  </app-custom-select>
  <app-multi-select [placeholder]="'Getränke'" [data]="list" [selected]="[bvSubject.value[1]]" [formControlName]="'select3'"></app-multi-select>

  <button class="send-button">Absenden</button>
  <pre>
    {{form.value | json}}
  </pre>

</form>


<form #ngForm="ngForm" (submit)="testNgForm(ngForm.value)">
  <app-custom-select  name="select" [data]="list" ngModel></app-custom-select>
  <app-multi-select [placeholder]="'-- Getränke und nicht so köstliche Getränke --'" [disabled]="true"[data]="list" name="select3" ngModel></app-multi-select>
  <button class="send-button" type="submit">Submit</button>
  <pre>
    {{ngForm.value | json}}
  </pre>
</form>


