<div class="custom-select-holder">
  <app-search-field
    [data]="data"
    (listEmitter)="filtered=$event"
    (statusEmitter)="isActive=$event"
    [searchValue]="''"
    [disabled]="isDisabled">
  </app-search-field>
  <ul class="custom-chips">
    <li *ngFor="let chip of chips">
      {{chip.key}}
      {{chip.label}}
      <span (click)="deleteChip(chip)">&#x2716;</span>
    </li>
  </ul>
  <app-select-list
    [selectedElements]="chips"
    (selectEmitter)="setItem($event.item, $event.index)"
    [currentPos]="position"
    [isActive]="isActive"
    [filtered]="filtered">
  </app-select-list>
</div>
